.container {
  height: 100vh;
  position: relative;
}

.orange {
  left: 44%;
}

.green {
left: 47%;
}

.blue {
left: 50%;
}

.pink {
left: 53%;
}

.yellow {
  left: 56%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}